'.source.js.jsx':
  'React ES6 Component':
    'prefix': 'rcc'
    'body': """
      import React, { Component, PropTypes } from 'react';

      export default class ${1:MyComponent} extends Component {
        render() {
          return (${2:<div>MyComponent</div>});
        }
      }

      ${1}.propTypes = {
      };

    """
  'React ES6 Component with Constructor':
    'prefix': 'rccp'
    'body': """
      import React, { Component, PropTypes } from 'react';

      export default class ${1:MyComponent} extends Component {
        constructor(props) {
          super(props);
        }

        render() {
          return (${2:<div>MyComponent</div>});
        }
      }

      ${1}.propTypes = {
      };

    """
  'React ES6 Constructor':
    'prefix': 'con'
    'body': """
      constructor(props) {
        super(props);
        ${1}
      }

    """
  'React ES6 Functional Component':
    'prefix': 'rscp'
    'body': """
      import React, { PropTypes } from 'react';

      export default function ${1}(props) {
        return (
          ${2:<div>MyComponent</div>}
        );
      }

      ${1}.propTypes = {
      };
    """
  'React ES6 bind method to this':
    'prefix': 'rbm',
    'body': """
      this.${1} = this.${1}.bind(this);
    """
  'React ES6 props definition':
    'prefix': 'pt',
    'body': """
      ${1}.propTypes = {
        ${2}
      };
    """


  # PropType string
  'React PropType string':
    'prefix': 'pts',
    'body': "${1:myProp}: PropTypes.string,"
  'React PropType string required':
    'prefix': 'ptsr',
    'body': "${1:myProp}: PropTypes.string.isRequired,"

  # PropType number
  'React PropType number':
    'prefix': 'ptn',
    'body': "${1:myProp}: PropTypes.number,"
  'React PropType number required':
    'prefix': 'ptnr',
    'body': "${1:myProp}: PropTypes.number.isRequired,"

  # PropType object
  'React PropType object':
    'prefix': 'pto',
    'body': "${1:myProp}: PropTypes.object,"
  'React PropType object required':
    'prefix': 'ptor',
    'body': "${1:myProp}: PropTypes.object.isRequired,"

  # PropType array
  'React PropType array':
    'prefix': 'pta',
    'body': "${1:myProp}: PropTypes.array,"
  'React PropType array required':
    'prefix': 'ptar',
    'body': "${1:myProp}: PropTypes.array.isRequired,"

  # PropType bool
  'React PropType bool':
    'prefix': 'ptb',
    'body': "${1:myProp}: PropTypes.bool,"
  'React PropType bool required':
    'prefix': 'ptbr',
    'body': "${1:myProp}: PropTypes.bool.isRequired,"

  # PropType element
  'React PropType element':
    'prefix': 'pte',
    'body': "${1:myProp}: PropTypes.element,"
  'React PropType element required':
    'prefix': 'pter',
    'body': "${1:myProp}: PropTypes.element.isRequired,"

  # PropType function
  'React PropType function':
    'prefix': 'ptf',
    'body': "${1:myProp}: PropTypes.func,"
  'React PropType function required':
    'prefix': 'ptfr',
    'body': "${1:myProp}: PropTypes.func.isRequired,"

  # PropType shape
  'React PropType shape':
    'prefix': 'ptsh',
    'body': """
      ${1:myProp}: PropTypes.shape({
        ${2}
      }),
    """
  'React PropType shape required':
    'prefix': 'ptshr',
    'body': """
      ${1:myProp}: PropTypes.shape({
        ${2}
      }).isRequired,
    """
